*
{
    margin: 0;
    padding: 0;
}
nav{
    text-align: center;
}
nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40px
    list-style-type: none;
    color: black;
}
.sec-1 h3{
    font-size: 20px;
}
.sec-1 h3{
    font-size: 20px;
}
.sec-1{
    display: flex;
    text-align: center;
    justify-content: space-around;
    color: red;
}
p{
    text-align: center;
    color:red;
}
h2{
    text-align: center;
}
div p{
    color: black;
}
div h1{
    text-align: center;}
